{% extends 'layout/layout.html.twig' %}

{% block main_content %}
    <h3>{{ department_name }}</h3>
{% endblock %}

{% block title %}
    {{ department_name }}
{% endblock %}

{% block javascripts %}
    <script>
        // $(`.order-departments`).addClass('active');
        // $(`.department-expand`).addClass('show');
    </script>
{% endblock %}

